:root {
  /* ==================================================
     1. FONT TOKENS (Base)
  ================================================== */

  /* Font Size */
  --fs-56: 56px;
  --fs-42: 42px;
  --fs-30: 30px;
  --fs-24: 24px;
  --fs-20: 20px;
  --fs-18: 18px;
  --fs-16: 16px;
  --fs-14: 14px;
  --fs-12: 12px;

  /* Font Weight */
  --fw-800: 800;
  --fw-600: 600;
  --fw-500: 500;
  --fw-400: 400;
  --fw-300: 300;
  --fw-200: 200;
  --fw-100: 100;


  /* Gray / Text */
  --c-000: #000000;
  --c-2b2b: #2b2b2b;
  --c-333: #333333;
  --c-444: #444444;
  --c-555: #555555;
  --c-666: #666666;

  /* Pink */
  --c-pink-500: #FF93CE;
  --c-pink-500-a48: rgba(255, 147, 206, 0.478);

  /* Red / Coral */
  --c-red-400: #FF8282;
  --c-red-500: #E64F46;
  --c-red-500-a48: rgba(230, 79, 70, 0.478);

  /* Blue */
  --c-blue-400-85: #97a9eb85;
  --c-blue-400: #97A9EB;

  /* Mint / Teal */
  --c-mint-400: #53C6CA;

  /* Green */
  --c-green-500: #3AB64A;
  --c-green-300: #A2DF54;
  --c-green-300-a48: rgba(162, 223, 84, 0.478);

  /* Yellow */
  --c-yellow-400: #FFC927;


  --c-black-25: rgba(0,0,0,0.25 );
  --c-white-d9:#d9d7d7;

  /* Background Base */
  --c-bg-pink-50: #FFF9FB;
  --c-bg-pink-100: #FFF6F9;
  --c-bg-mint-50: #F0FBF5;
  --c-bg-grenn-50: #FAFFF4;
  --c-bg-blue-50: #F3F7FD;
}