@font-face {
  font-family: 'Presentation';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-1Thin.woff2') format('woff2');
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'Presentation';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-2ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Presentation';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-3Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Presentation';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-4Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Presentation';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-5Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Presentation';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-6SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Presentation';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-7Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Presentation';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-8ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Presentation';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
}

* {
  font-family: 'Presentation';
}

a {
  font-family: 'Presentation';
}

.inner {
  width: 1300px;
  margin: auto;

}

section {
  margin-top: 100px;
}
/* 헤더 */

header {
  z-index: 99;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  position: fixed;
  transition: all 0.8s ease-out;
}

.head.active {
  background: #fff;
  transition: none;
}

.logo {
  margin-left: 30px;
}

nav {
  width: 1300px;

}

nav ul {

  display: flex;
  justify-content: space-between;

}

nav ul li a {
  font-size: var(--fs-20);
  font-weight: var(--fw-600);
  color: var(--c-2b2b);
}

.header-right {
  display: flex;
  gap: 10px;
  margin-right: 40px;
  align-items: center;
}

.header-right .login {
  display: flex;
  gap: 10px;

}

.header-right .login a {
  font-size: var(--fs-20);
  font-weight: var(--fw-300);
  color: var(--c-555);
}

.header-right .menu {
  cursor: pointer;
  font-size: var(--fs-24);
}

/* 서브 메뉴 */
.submenu-wrap {
  position: relative;
  z-index: 9999;
}

.submenu {

  position: fixed;
  left: 0;
  right: 0;
  background: #fff;
  display: flex;

  align-items: center;
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: .3s;
  margin-top: 80px;
  border-bottom: 1px solid var(--c-666);

}

.submenu.active {
  max-height: 800px;
  
  visibility: inherit;
}

.submenu-content {
  width: 1300px;
  margin: auto;
  padding: 10px;
  display: flex;
  gap: 30px;
}

.submenu h3 {
  font-size: var(--fs-30);
  font-weight: var(--fw-500);
  color: var(--c-red-400);
  margin-left: 100px;
}

.submenu-content .submenu-links {
  display: grid;

  min-height: 100px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  row-gap: 10px;
  /* row의 간격을 10px로 */
  column-gap: 50px;

}

.submenu-content .submenu-links .submenu-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 100px;

}

.submenu-content .submenu-links .submenu-column h4 a {
  font-size: var(--fs-20);
  font-weight: var(--fw-500);
  color: var(--c-2b2b);
  display: inline-block;
  text-align: left;
  width: 170px;
  padding-left: 10px;
  border: 1px solid #ffffff00;
  border-bottom: 1px solid var(--c-666);
  transition: .3s;
}

.submenu-content .submenu-links .submenu-column h4 a:hover {
  color: var(--c-red-400);
  border: 1px solid var(--c-red-400);
  border-radius: 10px;
}

.submenu-content .submenu-links .submenu-column a {
  text-align: left;
  padding-left: 10px;
  font-size: var(--fs-18);
  font-weight: var(--fw-300);
  color: var(--c-2b2b);
}

.submenu-content .submenu-links .submenu-column a:hover {
  color: var(--c-red-400);
}

/* 전체메뉴클릭 */
.menu-wrap {
  width: 90%;
  height: 100dvh;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  right: 0;
  z-index: 9999;
  background: #fff;
  padding: 0 10px;
  overflow-y: scroll;
  transition: .5s;
  padding-top: 100px;

}

.menu-wrap.active {
  opacity: 1;
  visibility: visible;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  /* 어둡게 */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  z-index: 100;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.back-btn {
  position: fixed;
  right: 35px;
  top: 23px;
  font-size: 30px;
  cursor: pointer;
}

.menu-wrap h2 {
  font-size: var(--fs-42);
  font-weight: var(--fw-500);

  text-align: center;
}

.menu-content {

  margin-left: 30px;
}

.menu-content h3 {
  font-size: var(--fs-30);
  font-weight: var(--fw-400);
  color: var(--c-red-400);

}

.menu-links {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  row-gap: 10px;
  /* row의 간격을 10px로 */
  column-gap: 100px;

}
.menu-column h4 {
  font-size: var(--fs-20);
  font-weight: var(--fw-400);

}

.menu-column a {
  transition: .3s;
}

.menu-column a:hover {
  color: var(--c-red-400);
}

.menu-column {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  font-size: var(--fs-18);
  font-weight: var(--fw-300);

}

#menuAccordionItem7 {
  padding-bottom: 70px;
}
/* 메인비주얼 */
.visual-tab-select::before {
  content: "\f078";
  position: absolute;
  right: 15px;
  font-family: "Font Awesome 7 Free";
}

.visual-tab-select{
  display: none;
  position: relative;
  margin: auto;
  width: 100%;
  height: 40px;
  text-align: center;
  border-radius: 20px;
  background: var(--c-red-400);
  color: #fff;
  line-height: 40px;
  cursor: pointer;
  font-size: var(--fs-20);
  font-weight: var(--fw-600);
}
.visual{
  background: url(images/subpage3-bg.png) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 450px;
  position: relative;
}
.visual .visual-text-box{
  position: absolute;
  top: 50%;transform: translateY(-50%);
}
.visual h1{
  font-size: var(--fs-56);
  font-weight: var(--fw-800);
  color: var(--c-blue-400);
}
.visual p{
  font-size: var(--fs-24);
  font-weight: var(--fw-400);
  color: var(--c-555);
}
.visual-tabs{
  position: absolute;
  bottom: -35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  left: 50%;transform: translateX(-50%);
  width: 1100px;
  height: 70px;
  background: #fff;
  border-radius: 40px;
  box-shadow: 0 0 10px var(--c-black-25);
}
.visual-tab{
  font-size: var(--fs-24);
  font-weight: var(--fw-400);
  cursor: pointer;
  height: 55px;
  border-radius: 30px;
  line-height: 55px;
  padding: 0 33px;
  background: #fff;
  transition: .3s;
  color: var(--c-444);
}
.visual-tab:hover{
  background: var(--c-blue-400);
  color: #fff;

}
.visual-tab.active{
  background: var(--c-blue-400);
  color: #fff;
  text-shadow: 0.5px 0 0 currentColor, -0.5px 0 0 currentColor;
}
/* 메인섹션 */
.main{
  background: url(images/subpage-bg2.png) no-repeat center;

}
.main-tab{
  display: none;
  position: relative;
  padding-bottom: 100px;
}
.main-tab.active{
  display: block;
}
.main-tab h2{
  text-align: center;
  font-size: var(--fs-56);
  font-weight: var(--fw-800);
  color: var(--c-blue-400);
  margin-top: 100px;
}
.breadcrumb{
  display: flex;
  align-items: center;
  gap: 5px;
  width: 250px;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  top: -30px;
}
.breadcrumb a{
    font-size: var(--fs-20);
  font-weight: var(--fw-300);
  color: var(--c-666);
  transition: .3s;
}
.breadcrumb a:hover{
  text-shadow: 0.5px 0 0 currentColor, -0.5px 0 0 currentColor;
}
.breadcrumb i{
  color: var(--c-666);
}
/* 검색 버튼 */
.searchBox{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 10px;
}
.searchBox input{
  font-size: var(--fs-20);
  font-weight: var(--fw-400);
  border-radius: 10px;
  border:1px solid var(--c-blue-400);
  padding: 5px;
}
.searchBox input:focus{
  outline: none;
}
.searchBox button{
  color: var(--c-blue-400);
  font-size: var(--fs-20);
  font-weight: var(--fw-400);
  padding: 5px 15px;
  border-radius: 10px;
  border:1px solid var(--c-blue-400);
  transition: .3s;background: #fff;
}
.searchBox button:hover{
  background: var(--c-blue-400);
  color: #fff;
}
.writing{
    color: var(--c-blue-400);
  font-size: var(--fs-20);
  font-weight: var(--fw-400);
  padding: 5px 15px;
  border-radius: 10px;
  border:1px solid var(--c-blue-400);
  transition: .3s;
  position: absolute;
}
.writing:hover{
  background: var(--c-blue-400);
  color: #fff;
}
/* 게시판 */
#notice{
  background: #fff;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
th{
  background: var(--c-blue-400-85);
  padding: 5px 0;
  font-size: var(--fs-24);
  font-weight: var(--fw-400);
  border-top: 2px solid var(--c-blue-400);
  border-bottom: 2px solid var(--c-blue-400);
}
.btn-result{
  border: 1px solid var(--c-blue-400);
  border-radius: 10px;
  padding: 5px 10px;
  background: #fff;
  transition: .3s;
}
.btn-result:hover{
  background: var(--c-blue-400);
  color: #fff;
}
.notice-col1{
  width:50px;

}
.notice-col5{
  width:70px;

}
.notice-col6{

  width: 100px;
}
tr{

  transition: .3s;
}
tr:hover{
  background: #f3f5ff;
}
tbody{}
td {
  padding: 20px 0;
  border-bottom: 1px solid var(--c-blue-400);
  font-size: var(--fs-20);
  font-weight: var(--fw-400);
  color: var(--c-333);
  
}
td p{
  text-align: left;
  padding-left:30px;
}
.notice-title{
  text-align: left;
  padding-left:30px;
  font-size: var(--fs-24);
  font-weight: var(--fw-400);
  color: #000;
  width: 700px;
}
.notice-pagination{
  display: flex;

  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 5px;
}
#noResult{
  position: absolute; bottom: 30px;
  left: 50%;
  transform: translate(-50%);
  font-size: var(--fs-30);
  
}
.notice-pagination i{
  color: var(--c-333);
  cursor: pointer;
}
.notice-pagination ol{
  display: flex;gap: 20px;
  padding: 10px;
}
.notice-pagination ol li a{
  font-size: var(--fs-24);
  font-weight: var(--fw-400);
  color: var(--c-333);
  width: 35px;
  text-align: center;
  padding: 3px;
  display: inline-block;
  border-radius: 50%;
  transition: .3s;
}
.notice-pagination ol li a:hover{
  background: var(--c-666);
  color: #fff;
  
}
.notice-pagination ol li a.active{
  background: var(--c-666);
  color: #fff;
  
}
#main6 .notice-col4{
  width: 150px;
}
/* footer */
.footer {
  background: var(--c-bg-blue-50);
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-logo-box {
  display: flex;
  flex: 1;
}

.footer-top-a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 3;
}

.footer-top-a li a {
  font-size: var(--fs-18);
  font-weight: var(--fw-300);
  color: var(--c-333);
  transition: .3s;
}

.footer-top-a li a:hover {
  font-weight: var(--fw-600);
}

.footer-site-box-wrap {
  position: relative;
  margin-left: 50px;
}

.footer-site-box {
  border: 1px solid var(--c-333);
  border-radius: 10px;
  cursor: pointer;
  width: 150px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 40px;
  margin-top: 3px;
  font-size: var(--fs-18);
  font-weight: var(--fw-300);
  background: #fff;
}

.footer-site-box i {
  transition: .3s;
}

.footer-site-box.active i {
  transform: rotate(180deg);
}

#site {
  position: absolute;
  border: 1px solid #000;
  width: 150px;
  text-align: center;
  top: -295px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  background: #fff;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

#site p {
  padding: 5px 0;
  font-size: var(--fs-18);
  font-weight: var(--fw-300);
  color: var(--c-333);
  transition: .3s;
}

#site a:hover p {
  font-weight: var(--fw-500);
}

#site.active {
  opacity: 1;
  visibility: inherit;
}

.footer-bottom {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

.footer-bottom-text {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-bottom-text p {
  font-size: var(--fs-16);
  font-weight: var(--fw-200);
  color: var(--c-333);
}

.call {
  flex: 1;
  font-size: var(--fs-16);
  font-weight: var(--fw-200);
  color: var(--c-333);

}

.call a {}

.call a:hover {
  font-weight: var(--fw-600);
}
